*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
a{
	text-decoration: none;
}

.wrapper{
	width: 100%;
	height: auto;
}

/*navigation-top*/
.navigation-top{
	width: 100%;
	height: 3rem;
	background-color: #041e42;
}
/*ennd navigation-top*/

/*banner*/
.banner img{
	width: 100%;
	height: auto;
	margin-bottom: 2rem;
}
/*end banner*/

/*main*/
.main{
	width: 100%;
	border-top: 1px solid #e8e5e5;
	overflow: hidden;
}
/*category*/
.main .category{
	width: 17%;
	float: left;
	border-right: 1px solid #e8e5e5;
	border-bottom: 1px solid #e8e5e5;
	padding-bottom: 1rem;
}
.main .main-food{
	width: 83%;
	float: left;
}
/*,.main .main-food .shop-by-cate p,.main .main-food .showcase p*/
.main .main-food .bbq-essentials p{
	text-align: center;
}
.main .main-food p{
	color: #585454;
}
.main .main-food p a{
	color: #585454;
}
.main .category h4 a{
	color: black;
	font-size: 0.9rem;
}
.main .category .menu ul{
	margin:0;
	padding: 0;
	list-style-type: none;
}
.main .category .menu ul li{
	padding: 0.3rem 1rem;
}
.main .category .menu ul li a{
	font-size: 0.9rem;
	color: gray;
	transition: 0.5s;
}
.main .category .menu ul li a:hover{
	text-decoration: underline;
}
.main h2{
	font-weight: normal;
	text-align: center;
	margin-bottom: 2rem;
}
.main .main-food .bbq-essentials{
	padding-top: 2rem;
}
.main .main-food .bbq-essentials .row{
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}
.main .main-food .bbq-essentials .row .item{
	width: 21%;
	float: left;
	margin: 0 2%;
}
.main .main-food .bbq-essentials .row .item img{
	width: 100%;
	height: auto;
}
.main .main-food .shop-by-cate .row{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.main .main-food .shop-by-cate .row .item{
	width: 17%;
	float: left;
	margin: 0 4%;
}
.main .main-food .shop-by-cate .row .item img{
	width: 100%;
	height: auto;
}
.main .main-food .shop-by-cate .row .item p{
	text-align: center;
}
.main .main-food .shop-by-cate .row-button p{
	text-align: center;
}

.main .main-food .shop-by-cate .row-button p a{
	border: 1px solid black;
	padding: 0.5rem 4rem;
	border-radius: 2rem;
	color: black;
	font-weight: bold;
	transition: 0.5s;
}
.main .main-food .shop-by-cate .row-button p a:hover{
	background-color: #6fe2dc;
	border:none;
	color: white;
}

/*end shop by category*/


/*eat*/
.main .main-food .eat{
	padding-top: 3rem;
	padding-bottom: 1rem;
}
.main .main-food .eat .row{
	width: 100%;
	overflow: hidden;
}
.main .main-food .eat .row .eat-left{
	width: 49.5%;
	float: left;
	margin-right: 0.5%;
}

.main .main-food .eat .row .item img{
	width: 100%;
	height: auto;
}
.main .main-food .eat .row .eat-right{
	width: 49.5%;
	float: left;
	margin-left: 0.5%;
}

.main .main-food .eat .row .eat-right .eat-right-row{
	overflow: hidden;
}
.main .main-food .eat .row .eat-right .eat-right-row .item-float1{
	width: 49.5%;
	float: left;
	margin-right: 0.5%;
}
.main .main-food .eat .row .eat-right .eat-right-row .item-float2{
	width: 49.5%;
	float: left;
	margin-left: 0.5%;
}
.main .main-food .eat .row .eat-right .eat-right-row .item-float1 img,.main .main-food .eat .row .eat-right .eat-right-row .item-float2 img{
	width: 100%;
	height: auto;
}
/*product*/
.main .main-food .product{
	padding-top: 3rem;
}
.main .main-food .product .row{
	width: 100%;
	overflow: hidden;
}
.main .main-food .product .row .item{
	width: 12.2857%;
	float: left;
	margin: 0 1%;
}
.main .main-food .product .row .item .cost p{
	margin: 0;
	text-align: center;
}
.main .main-food .product .row .item .cost p.bold{
	font-weight: bold;
}
.main .main-food .product .row .item img{
	width: 100%;
	height: auto;
}
/*Savings Showcase*/
.main .main-food .showcase{
	padding-top: 6rem;
}
.main .main-food .showcase .row{
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}
.main .main-food .showcase .row .item{
	width: 21%;
	margin: 0 2%;
	float: left;
	margin-bottom: 2rem;
}
.main .main-food .showcase .row .item img{
	width: 100%;
	height: auto;
}
/*food*/
.main .main-food .food{
	border-top: 1px solid #e8e5e5;
	margin-bottom: 5rem;
}
.main .main-food .food .content{
	width: 60%;
	margin: 0 auto;
}
.main .main-food .food .see-more{
	text-align: center;
}
.main .main-food .food .see-more a{
	font-size: 1.1rem;
	text-decoration: underline;
	color: #423e3e;
}
.main .main-food .food h3{
	font-weight: normal;
	font-size: 1.4rem;
}
/*nav-list*/
.nav-list{
	width: 80%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 2rem;
}
.nav-list .item{
	width: 23.5%;
	float: left;
	margin-right: 2%;
}
.nav-list .item:last-child{
	margin-right: 0;
}
.nav-list .item h3{
	font-size: 0.9rem;
}
.nav-list .item .list ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.nav-list .item .list ul li{
	margin-bottom: 1rem;
}
.nav-list .item .list ul li a{
	font-size: 0.8rem;
	color: #565353;
	transition: 0.5s;
}
.nav-list .item .list ul li a:hover{
	color: #319680;
	font-weight: bold;
}
/*end nav-list*/

/*footer*/
.footer{
	border-top: 1px solid gray;
	padding: 1rem 0;
	overflow: hidden;
	font-size: 0.8rem;
}
.footer .left{
	float: left;
}
.footer .right{
	float: right;
	color: gray;
}
/*end footer*/

/*media query*/

@media only screen and (max-width: 768px){
	.main .category{
		display: none;
	}
	.main .main-food{
		width: 100%;
		float: none;
	}
	.main .main-food .food .content{
		width: 80%;
	}
	.footer{
		text-align: center;
	}
	.footer .left{
		float: none;
	}
	.footer .right{
		float: none;
	}
	@media only screen and (max-width: 600px){
		.main .main-food .bbq-essentials .row .item{
			width: 46%;
			float: left;
		}
		
		.main .main-food .eat .row .eat-left{
			width: 95%;
			margin: 0 auto;
			float: none;
		}
		.main .main-food .eat .row .eat-right{
			width: 95%;
			margin: 0 auto;
			float: none;
		}
		.main .main-food .product .row .item:last-child{
			display: none;
		}
		.main .main-food .product .row .item{
			width: 31.3333%;
		}
		.main .main-food .showcase .row .item{
			width: 46%;
		}
		.main .main-food .food .content{
			width: 95%;
		}
		.nav-list .item .list{
			display: none;
		}
		.nav-list .item{
			width: 100%;
			float: none;
		}
		.nav-list{
			text-align: center;
		}
	}
}